*{
	margin: 0;
	padding-top: 0;
	box-sizing: border-box;
}
body{
	widows: 100%;
	min-height: 100vh;
	overflow: hidden;
}
.text{
	position: absolute;
	pointer-events: none;
	color: #fff;
	font-size: 10em;
	-webkit-text-stroke: 2px #000;
	font-weight: 800;
	text-transform: uppercase;
	transform: translate(-50%,-50%);
}
